# {{ ansible_managed }}
---
version: "3"

services:
  jenkins:
    container_name: pivpn
    image: 
    hostname: '{{ pivpn_hostname }}'
    ports:

    expose:

    environment:

    volumes:

    restart: unless-stopped
